/**
 * Dark Theme
 * Color overrides for dark mode
 */

.dark,
[data-theme="dark"] {
	--color-background: hsl(0 0% 0%);
	--color-foreground: hsl(223.8136 0% 100%);
	--color-card: hsl(223.8136 0% 3.5452%);
	--color-card-foreground: hsl(223.8136 0% 100%);
	--color-popover: hsl(223.8136 0% 6.8692%);
	--color-popover-foreground: hsl(223.8136 0% 100%);
	--color-primary: hsl(223.8136 0% 100%);
	--color-primary-foreground: hsl(0 0% 0%);
	--color-secondary: hsl(223.8136 0% 13.1499%);
	--color-secondary-foreground: hsl(223.8136 0% 100%);
	--color-muted: hsl(223.8136 0% 11.304%);
	--color-muted-foreground: oklab(80% 0 -0.00008);
	--color-accent: hsl(223.8136 0% 19.8916%);
	--color-accent-foreground: hsl(223.8136 0% 100%);
	--color-destructive: hsl(359.9132 100.2494% 67.8807%);
	--color-destructive-foreground: hsl(0 0% 0%);
	--color-border: hsl(0, 0%, 25%);
	--color-input: hsl(223.8136 0% 19.8916%);
	--color-ring: hsl(223.8136 0% 64.471%);
	--color-chart-1: hsl(40.6655 100.2361% 50.9228%);
	--color-chart-2: hsl(218.1624 90.0354% 55.1618%);
	--color-chart-3: hsl(223.8136 0% 45.6078%);
	--color-chart-4: hsl(223.8136 0% 32.3067%);
	--color-chart-5: hsl(223.8136 0.0001% 89.5577%);
	--color-sidebar: hsl(223.8136 0% 6.8692%);
	--color-sidebar-foreground: hsl(223.8136 0% 100%);
	--color-sidebar-primary: hsl(223.8136 0% 100%);
	--color-sidebar-primary-foreground: hsl(223.8136 0% 100%);
	--color-sidebar-accent: hsl(223.8136 0% 19.8916%);
	--color-sidebar-accent-foreground: hsl(223.8136 0% 100%);
	--color-sidebar-border: hsl(223.8136 0% 19.8916%);
	--color-sidebar-ring: hsl(223.8136 0% 64.471%);
	--color-font-sans: "DM Sans", system-ui, -apple-system, sans-serif;
	--color-font-serif: Georgia, serif;
	--color-font-mono: Geist Mono, monospace;
	--color-radius: 0.5rem;
	--color-shadow-x: 0px;
	--color-shadow-y: 1px;
	--color-shadow-blur: 2px;
	--color-shadow-spread: 0px;
	--color-shadow-opacity: 0.18;
	--color-shadow-color: hsl(0 0% 0%);
	--color-shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
	--color-shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
	--color-shadow-sm:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
	--color-shadow:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-md:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-lg:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-xl:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}
