/**
 * Light Theme
 * Color overrides for light mode
 */

:root,
[data-theme="light"] {
	--color-background: hsl(223.8136 0.0005% 98.6829%);
	--color-foreground: hsl(0 0% 0%);
	--color-card: hsl(223.8136 -172.5242% 100%);
	--color-card-foreground: hsl(0 0% 0%);
	--color-popover: hsl(223.8136 0.0005% 98.6829%);
	--color-popover-foreground: hsl(0 0% 0%);
	--color-primary: hsl(0 0% 0%);
	--color-primary-foreground: hsl(223.8136 -172.5242% 100%);
	--color-secondary: hsl(223.8136 0.0001% 92.1478%);
	--color-secondary-foreground: hsl(0 0% 0%);
	--color-muted: hsl(223.8136 0.0002% 96.0587%);
	--color-muted-foreground: hsl(223.8136 0% 32.3067%);
	--color-accent: hsl(223.8136 0.0001% 92.1478%);
	--color-accent-foreground: hsl(0 0% 0%);
	--color-destructive: hsl(358.4334 74.912% 59.7455%);
	--color-destructive-foreground: hsl(223.8136 -172.5242% 100%);
	--color-border: hsl(223.8136 0.0001% 89.5577%);
	--color-input: hsl(223.8136 0.0001% 92.1478%);
	--color-ring: hsl(0 0% 0%);
	--color-chart-1: hsl(40.6655 100.2361% 50.9228%);
	--color-chart-2: oklch(54.988% 0.2198 264.453);
	--color-chart-3: hsl(223.8136 0% 64.471%);
	--color-chart-4: hsl(223.8136 0.0001% 89.5577%);
	--color-chart-5: hsl(223.8136 0% 45.6078%);
	--color-sidebar: hsl(223.8136 0.0005% 98.6829%);
	--color-sidebar-foreground: hsl(0 0% 0%);
	--color-sidebar-primary: hsl(0 0% 0%);
	--color-sidebar-primary-foreground: hsl(223.8136 -172.5242% 100%);
	--color-sidebar-accent: hsl(223.8136 0.0001% 92.1478%);
	--color-sidebar-accent-foreground: hsl(0 0% 0%);
	--color-sidebar-border: hsl(223.8136 0.0001% 92.1478%);
	--color-sidebar-ring: hsl(0 0% 0%);
	--color-font-sans: Geist, sans-serif;
	--color-font-serif: Georgia, serif;
	--color-font-mono: Geist Mono, monospace;
	--color-radius: 0.5rem;
	--color-shadow-x: 0px;
	--color-shadow-y: 1px;
	--color-shadow-blur: 2px;
	--color-shadow-spread: 0px;
	--color-shadow-opacity: 0.18;
	--color-shadow-color: hsl(0 0% 0%);
	--color-shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
	--color-shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
	--color-shadow-sm:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
	--color-shadow:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-md:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-lg:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-xl:
		0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
	--color-shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
	--color-tracking-normal: 0em;
	--color-spacing: 0.25rem;
}
